.weather-app {
  background-color: #2494ef;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dadde1;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 14px;
}
